<html lang="en">
<head>
    <link href="/style.css" rel="stylesheet" type="text/css"/>
    <title>Oops I did it again</title>
</head>
<body>
<h1>Something went wrong...</h1>
<p>{{message}}</p>
</body>
</html>